body {
    font-family: 'Roboto';
    background-image: url(pcb.png);
}

h1 {
    font-family: 'Playwrite CU', 'Segoe Script', ;
    color: grey !important;
    text-align: center;
}

h2 {
    color: grey;
}

p {
    font-size: 18px;
    text-align: justify;
}

#Intro {
    color: blue;
}

.Definition {
    font-weight: 700;
}

p > b {
    color : forestgreen;
}

b > i {
    text-decoration : underline;
}

p i {
    text-decoration : underline;
}

h1 ~ h2 {
    color: red;
}
